{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 49,
          "safari": 10,
          "edge": 12,
          "ie": 10,
          "firefox": 42
        },
        "debug": true,
        "uglify": true,
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true // or 'css'
      }
    ]
  ]
}
