*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
dist
npm-debug.log*
.rpt2_cache
.vscode
dist_w/
dist_r/
.awcache
*.d.ts